.error-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
}

.error-indicator .boom {
    font-size: 1.5rem;
  }

  .error-indicator img {
    margin-bottom: 5px;
    width: rem;
    height: 2rem;
  }

