.button-row {
  margin: 0 0 1rem 0;
}

.button-row button {
  margin-right: 1rem;
}

.stardb-app .row {
  margin-bottom: 1rem;
}

.stardb-app h1 {
  margin-top: 100px;
  color: rgb(226, 226, 7);
  text-align: center;
}

.stardb-app h2 {
  margin-top: 50px;
  color: white;
  text-align: center;
}
